@import "partials/base";

* {
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

body {
    background: lightgrey;
    font-family: sans-serif;
    max-width: 960px;
    margin: 0 auto;
    padding: 30px 0; 
}

.backToTop {
    display: none;
    position: fixed;
    bottom: 5%;
    right: 2%;
    background: #000;
    color: #fff;
    border-radius: 50%;
    padding: 20px 15px;
    text-decoration: none;
}

.fontSize {
    margin: 0 0 20px;
    overflow: hidden;

    .largerFont,
    .smallerFont {
        display: inline-block;
        background: #000;
        color: #fff;
        padding: 7px 10px;
        text-decoration: none;
    }
}

.longList {
    float: left;
    width: 50%;
}

.twoCol {
    overflow: hidden;

    .col {
        float: left;
        width: 49%;
        margin-right: 2%;
        padding: 20px;
        background: grey;
    }

    .col:last-child {
        margin-right: 0;
    }
}

.dropzone-sm {
    width: percentage(1/3);
}

.dropzone-med {
    width: percentage(2/3);
}

.dropzone-lg {
    width: 100%;
}

.widget {
    margin-bottom: 30px;
}