---
title: Widgets
layout: default
styles: [
    widgets/WidgetAccordion.css, 
    widgets/WidgetTabs.css, 
    widgets/WidgetRotatingBanner.css, 
    widgets/WidgetEvents.css, 
    widgets/WidgetNews.css, 
    widgets/WidgetMediaGallery.css]
scripts: [
    widgets/WidgetAccordion.js, 
    widgets/WidgetTabs.js, 
    widgets/WidgetRotatingBanner.js, 
    widgets/WidgetMediaGallery.js]
---

<h1>Widgets</h1>
<hr>

<h2>Rotating Banner</h2>
<div class="dropzone-sm">
    <div class="widget">
        {% include WidgetRotatingBanner.html %}
    </div>
</div>
<div class="dropzone-med">
    <div class="widget">
        {% include WidgetRotatingBanner.html %}
    </div>
</div>
<div class="dropzone-lg">
    <div class="widget">
        {% include WidgetRotatingBanner.html %}
    </div>
</div>

<hr>
<h2>Accordion</h2>
<div class="dropzone-sm">
    <div class="widget">
        {% include WidgetAccordion.html %}
    </div>
</div>
<div class="dropzone-med">
    <div class="widget">
        {% include WidgetAccordion.html %}
    </div>
</div>
<div class="dropzone-lg">
    <div class="widget">
        {% include WidgetAccordion.html %}
    </div>
</div>

<hr>
<h2>Tabs</h2>
<div class="dropzone-sm">
    <div class="widget">
        {% include WidgetTabs.html %}
    </div>
</div>
<div class="dropzone-med">
    <div class="widget">
        {% include WidgetTabs.html %}
    </div>
</div>
<div class="dropzone-lg">
    <div class="widget">
        {% include WidgetTabs.html %}
    </div>
</div>

<hr>
<h2>Events</h2>
<div class="dropzone-sm">
    <div class="widget">
        {% include WidgetEvents.html %}
    </div>
</div>
<div class="dropzone-med">
    <div class="widget">
        {% include WidgetEvents.html %}
    </div>
</div>
<div class="dropzone-lg">
    <div class="widget">
        {% include WidgetEvents.html %}
    </div>
</div>

<hr>
<h2>News</h2>
<div class="dropzone-sm">
    <div class="widget">
        {% include WidgetNews.html %}
    </div>
</div>
<div class="dropzone-med">
    <div class="widget">
        {% include WidgetNews.html %}
    </div>
</div>
<div class="dropzone-lg">
    <div class="widget">
        {% include WidgetNews.html %}
    </div>
</div>

<hr>
<h2>Media Gallery</h2>
<div class="dropzone-sm">
    <div class="widget">
        {% include WidgetMediaGallery.html %}
    </div>
</div>
<div class="dropzone-med">
    <div class="widget">
        {% include WidgetMediaGallery.html %}
    </div>
</div>
<div class="dropzone-lg">
    <div class="widget">
        {% include WidgetMediaGallery.html %}
    </div>
</div>