<div class="WidgetMediaGallery">
    <div class="thumbnailSlider slider">
        <div class="track">
            <ul>
                <li>
                    <a href="contentimages/flower_1.jpg?w=700&amp;h=330" title="Flower 1" class="thumb" data-type="image" data-desc="This is an example of a photo or video widget. This widget may be used to show a single gallery of photos or videos. Optional description text goes here. Youtube is generally utilized as the host for videos. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate.">
                        <img src="contentimages/flower_1.jpg?w=110&amp;h=62" alt="" width="110" height="62">
                    </a>
                </li>
                <li>
                    <a href="eo6lY_uesHw" title="Flower 2" class="thumb" data-type="video" data-desc="">
                        <!--thumbnail from youtube-->
                    </a>
                </li>
                <li>
                    <a href="contentimages/flower_3.jpg" title="Flower 3" class="thumb" data-type="image" data-desc="">
                        <img src="contentimages/flower_3.jpg" alt="" width="110" height="62">
                    </a>
                </li>
                <li>
                    <a href="contentimages/flower_4.jpg" title="Flower 4" class="thumb" data-type="image" data-desc="">
                        <img src="contentimages/flower_4.jpg" alt="" width="110" height="62">
                    </a>
                </li>
                <li>
                    <a href="contentimages/flower_5.jpg" title="Flower 5" class="thumb" data-type="image" data-desc="">
                        <img src="contentimages/flower_5.jpg" alt="" width="110" height="62">
                    </a>
                </li>
                <li>
                    <a href="contentimages/flower_6.jpg" title="Flower 6" class="thumb" data-type="image" data-desc="">
                        <img src="contentimages/flower_6.jpg" alt="" width="110" height="62">
                    </a>
                </li>
                <li>
                    <a href="contentimages/flower_7.jpg" title="Flower 7" class="thumb" data-type="image" data-desc="">
                        <img src="contentimages/flower_7.jpg" alt="" width="110" height="62">
                    </a>
                </li>
                <li>
                    <a href="contentimages/flower_8.jpg" title="Flower 8" class="thumb" data-type="image" data-desc="">
                        <img src="contentimages/flower_8.jpg" alt="" width="110" height="62">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="viewer">
        <div class="media"><!--image or embed code for video from thumbnail "href" attribute, w=700, h=330--></div>
        <div class="info">
            <div class="title"><!--title from thumbnail "title" attribute--></div>
            <div class="progress">
                <span class="current"><!--active thumbnail in slider--></span> 
                <span class="of">of</span> 
                <span class="total"><!--total number of thumbnails in slider--></span>
            </div>
            <div class="desc"><!--description from thumbnail "data-desc" attribute--></div>
        </div>
    </div>
</div>