<div class="WidgetTabs">
    <ul class="tabs" role="tablist">
        <li role="presentation">
            <a id="tab1" href="#" class="tab" role="tab" aria-selected="true" aria-controls="tabContent1" tabindex="0">Tab Content 1</a>
        </li>
        <li role="presentation">
            <a id="tab2" href="#" class="tab" role="tab" aria-selected="false" aria-controls="tabContent2" tabindex="-1">Tab Content 2</a>
        </li>
        <li role="presentation">
            <a id="tab3" href="#" class="tab" role="tab" aria-selected="false" aria-controls="tabContent3" tabindex="-1">Longer tab title goes here</a>
        </li>
    </ul>
    <div id="tabContent1" class="tab-content" role="tabpanel" aria-hidden="false" aria-labelledby="tab1">
        <p>Fingerstache Intelligentsia try-hard ethical beard, authentic literally cornhole normcore Cosby sweater ennui banjo cardigan. Trust fund cornhole pour-over YOLO. Pour-over swag seitan, mlkshk selfies Brooklyn normcore yr gastropub pickled. Echo Park Kickstarter master cleanse distillery tousled actually Tumblr, deep v Thundercats keytar pickled pour-over mustache 90's. Tousled umami synth flannel, Neutra mumblecore Thundercats cred Pitchfork literally actually Echo Park semiotics hashtag. Banh mi wayfarers swag actually synth, ennui photo booth locavore slow-carb flannel yr pork belly leggings +1. Shoreditch whatever Marfa mixtape, American Apparel pop-up dreamcatcher DIY High Life cornhole stumptown organic trust fund Kickstarter.</p>
    </div>
    <div id="tabContent2" class="tab-content" role="tabpanel" aria-hidden="true" aria-labelledby="tab2">
        <p>American Apparel keytar paleo chia hoodie, raw denim letterpress craft beer selvage Shoreditch Etsy normcore twee farm-to-table Truffaut. Kickstarter put a bird on it squid tote bag VHS Portland bespoke. Bushwick cray put a bird on it whatever flannel. Intelligentsia typewriter chambray sartorial narwhal, ennui salvia gluten-free Blue Bottle authentic vinyl fingerstache ethnic hoodie. Paleo sriracha plaid yr small batch, art party actually kitsch organic. Seitan roof party Carles.</p>
    </div>
    <div id="tabContent3" class="tab-content" role="tabpanel" aria-hidden="true" aria-labelledby="tab3">
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia bibendum nulla sed consectetur. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas faucibus mollis interdum.</p>
    </div>
</div>