<div class="WidgetRotatingBanner" data-eq-pts="small: 0, medium: 320, large: 768" data-delay="5">
    <!--option to add class "noText" for no overlay on slides-->
    <ul class="slides">
        <li class="active">
            <div class="image" data-desktop="http://placehold.it/1024x445" data-tablet="http://placehold.it/750x326" data-mobile="http://placehold.it/320x240"></div>
            <div class="overlay">
                <p class="title">Featured News Headline Goes Right Here</p>
                <p class="date">January 1, 2014</p>
                <p class="desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam interdum pulvinar nibh. Maecenas eget nunc in justo rhoncus aliquam. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                <p class="more"><a href="#" title="">Read More</a></p>
            </div>
        </li>
        <li>
            <div class="image" data-desktop="http://placehold.it/1024x445" data-tablet="http://placehold.it/750x326" data-mobile="http://placehold.it/320x240"></div>
            <div class="overlay">
                <p class="title">Another Headline Goes Right Here</p>
                <p class="date">January 1, 2014</p>
                <p class="desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam interdum pulvinar nibh. Maecenas eget nunc in justo rhoncus aliquam.</p>
                <p class="more"><a href="#" title="">Read More</a></p>
            </div>
        </li>
    </ul>
</div>