<div class="WidgetEvents">
    <div class="eventsHeader">
        <h3>Upcoming Events</h3>
        <select class="category">
            <option>Select a Category</option>
        </select>
    </div>
    <div class="events">
        <div class="event">
            <div class="date"><span>1.5.14</span></div>
            <div class="info">
                <p class="title">Event Title Goes Right Here</p>
                <p class="location">Location Title <span class="time">7:00pm - 10:00pm</span></p>
                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eleifend, metus.</p>
            </div>
        </div>
        <div class="event">
            <div class="date"><span>1.5 - 1.8.14</span></div>
            <div class="info">
                <p class="title">Event Title Goes Right Here</p>
                <p class="location">Location Title <span class="time">8:00am - 5:00pm, each day</span></p>
                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eleifend, metus sed mattis luctus, turpis risus. Sed sed tincidunt lacus, quis sollicitudin augue. Sed elementum sed eros.</p>
            </div>
        </div>
        <div class="event">
            <div class="date"><span>1.9.14</span></div>
            <div class="info">
                <p class="title">Event Title Goes Right Here</p>
                <p class="location">Location Title <span class="time">7:00pm - 10:00pm</span></p>
                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eleifend, metus.</p>
            </div>
        </div>
        <div class="event">
            <div class="date"><span>12.19.14</span></div>
            <div class="info">
                <p class="title">Event Title Goes Right Here</p>
                <p class="location">Location Title <span class="time">7:00pm - 10:00pm</span></p>
                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eleifend, metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eleifend, metus sed mattis luctus, turpis risus. Sed sed tincidunt lacus, quis sollicitudin augue. Sed elementum sed eros.</p>
            </div>
        </div>
    </div>
</div>