<div class="WidgetNews" data-eq-pts="small: 0, medium: 600">
    <div class="newsHeader">
        <h3>Latest News</h3>
        <select class="category">
            <option>Select a Category</option>
        </select>
    </div>
    <div class="articles">
        <div class="article">
            <!--<img src="contentimages/general-4.jpg?w=100&amp;h=100" alt="" class="thumb">-->
            <div class="info">
                <p class="title">News Headline Goes Here</p>
                <p class="date">March 1, 2014</p>
                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eleifend, metus sed mattis luctus, turpis risus. Sed sed tincidunt lacus, quis sollicitudin augue. Sed elementum sed eros.</p>
                <p class="more"><a href="#" title="">Read More</a></p>
            </div>
        </div>
        <div class="article">
            <img src="contentimages/general-4.jpg" alt="" class="thumb">
            <div class="info">
                <p class="title">News Headline Goes Here</p>
                <p class="date">February 1, 2014</p>
                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eleifend, metus sed mattis luctus, turpis risus. Sed sed tincidunt lacus, quis sollicitudin augue. Sed elementum sed eros.</p>
                <p class="more"><a href="#" title="">Read More</a></p>
            </div>
        </div>
        <div class="article">
            <img src="contentimages/general-4.jpg" alt="" class="thumb">
            <div class="info">
                <p class="title">News Headline Goes Here</p>
                <p class="date">January 1, 2014</p>
                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eleifend, metus sed mattis luctus, turpis risus. Sed sed tincidunt lacus, quis sollicitudin augue. Sed elementum sed eros.</p>
                <p class="more"><a href="#" title="">Read More</a></p>
            </div>
        </div>
    </div>
</div>