@import "../partials/base";

.WidgetAccordion {
    $titleColor: #797e7c;
    $titleTextColor: #fff;
    $titleHoverColor: #0a6d50;
    $titleActiveColor: #0a6d50;
    $descriptionColor: #fff;

    .group {
        margin: 0 0 1px;
    }

    .title a {
        position: relative;
        display: block;
        height: 32px;
        padding: 0 10px;
        background: $titleColor;
        color: $titleTextColor;
        font-size: 20px;
        line-height: 32px;
        font-weight: 400;
        text-decoration: none;

        &:after {
            position: relative;
            float: right;
            content: "+";
            font-size: 18px;
            font-weight: 700;
        }

        &:hover {
            background: $titleHoverColor;
        }
    }

    .active .title a {
        background: $titleActiveColor;

        &:after {
            content: "\2013";
        }
    }

    .desc {
        display: none;
        overflow: hidden;
        padding: 15px 20px;
        background: $descriptionColor;
    }

    .active .desc {
        display: block;
    }

    &[data-size='small'] {
    //@media (max-width: 767px) {
        .desc {
            padding: 10px;
        }
    }
}